Flask
Flask-Login
Flask-SQLAlchemy
Flask-SocketIO
requests
fastapi
waitress
gunicorn
Flask-Mail
python-dotenv

blinker
click
itsdangerous
Jinja2
MarkupSafe
python-engineio
python-socketio
six
SQLAlchemy
Werkzeug
twilio
Flask
python-dotenv
twilio
requests
langchain-google-genai
fastapi
uvicorn
crewai
